#Australia,
#Nauru,
#Fiji {
  fill: #4282a4be;
}

#Tonga,
#Solomon-Islands {
  fill: #48a9a6b7;
}

#Federated-States-of-Micronesia,
#Vanuatu,
#Papua-New-Guinea {
  fill: #e2b88ebb;
}

#Kiribati,
#Samoa {
  fill: #d4b483b9;
}

#Marshall-Islands,
#Palau,
#New-Zealand,
#Tuvalu {
  fill: #c1666ab6;
}
