#Australia,
#Nauru,
#Fiji,
/* CAPITALS */
#Canberra,
#Nuku-alofa {
  fill: #4282a4f6;
}

#Tonga,
#Solomon-Islands,
/* CAPITALS  */
#Port-Vila,
#Honiara {
  fill: #48a9a6b7;
}

#Federated-States-of-Micronesia,
#Vanuatu,
#Papua-New-Guinea,
/* CAPITALS */
#Palikir,
#Suva,
#Port-Moresby {
  fill: #e2b88ebb;
}

#Kiribati,
#Samoa,
/* CAPITALS */
#Tarawa,
#Apia {
  fill: #d4b483b9;
}

#Marshall-Islands,
#Palau,
#New-Zealand,
#Tuvalu,
/* CAPITALS */
#Majuro,
#Ngerulmud,
#Wellington,
#Funafuti {
  fill: #c1666ab6;
}

#Map {
  fill: rgb(141, 141, 141);
}

#Map2,
#Map1,
#None {
  fill: rgba(255, 255, 255, 0);
  stroke: black;
  stroke-width: 2px;
}
