#Alaska,
#Nebraska,
#Nevada,
#Florida,
#New-Mexico,
#New-York,
#North-Carolina,
/* CAPITALS */
#Juneau,
#Lincoln,
#Carson-City,
#Tallahassee,
#Santa-Fe,
#Albany,
#Raleigh {
  fill: #50514f;
}

#California,
#Arkansas,
#Colorado,
#Idaho,
#Virginia,
#Connecticut,
#Alabama,
#Hawaii,
#Ohio,
#Iowa,
#North-Dakota,
/* CAPITALS */
#Sacramento,
#Little-Rock,
#Denver,
#Boise,
#Richmond,
#Hartford,
#Montgomery,
#Honolulu,
#Columbus,
#Des-Moines,
#Bismarck {
  fill: #f25f5c;
}

#Delaware,
#Oregon,
#Illinois,
#Wyoming,
#Oklahoma,
#Arizona,
#Mississippi,
#Minnesota,
#New-Hampshire,
#Pennsylvania,
#Rhode-Island,
/* CAPITALS */
#Dover,
#Salem,
#Springfield,
#Cheyenne,
#Oklahoma-City,
#Phoenix,
#Jackson,
#Saint-Paul,
#Concord,
#Harrisburg,
#Providence {
  fill: #ffe066;
}

#Indiana,
#Kansas,
#Texas,
#Utah,
#Vermont,
#Washington,
#Tennessee,
#New-Jersey,
#South-Carolina,
#South-Dakota,
#West-Virginia,
#Wisconsin,
/* CAPITALS */
#Indianapolis,
#Topeka,
#Austin,
#Salt-Lake-City,
#Montpelier,
#Olympia,
#Nashville,
#Trenton,
#Columbia,
#Pierre,
#Charleston,
#Madison {
  fill: #247ba0;
}

#Kentucky,
#Louisiana,
#Maine,
#Maryland,
#Massachusetts,
#Michigan,
#Missouri,
#Georgia-us,
#Montana,
/* CAPITALS */
#Frankfort,
#Baton-Rouge,
#Augusta,
#Annapolis,
#Boston,
#Lansing,
#Jefferson-City,
#Atlanta,
#Helena {
  fill: #70c1b3;
}

#Map {
  fill: rgb(141, 141, 141);
}

#Map2,
#Map1,
#None {
  fill: rgba(255, 255, 255, 0);
  stroke: black;
  stroke-width: 2px;
}
