.learn-page {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  width: 100%;
  height: 100vh;
  min-height: 800px;
  font-family: "Baloo Chettan", cursive;
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  /* background: linear-gradient(180deg, #ffedbd 0%, #fde5c1 45.83%, #fcd87c 100%); */
}

.titleDesign {
  background-color: #fff;
  color: rgb(0, 0, 0);
  font-size: 64px;
  height: 55px;
  padding: 10px 10px;
}

.learn-title {
  padding-top: 10px;
  text-align: center;
  color: #000;
}

.learn-title h2 {
  font-size: 36px;
}

.learn-links a:last-of-type {
  border: none;
}

.learn-links a {
  color: #ad4e4e;
  color: #ad4e4e;
  margin: 0;
  height: 20px;
  font-size: 18px;
  padding: 0 5px;
  line-height: 20px;
  border-right: 3px solid white;
}

.learn-links a:hover {
  color: rgb(70, 214, 247);
}

.learn-page-container {
  height: calc(100% - 55px);
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}

.learn-map-container {
  height: 95%;
  width: 60%;
  margin-left: 30px;
  display: inline-flex;
  /* max-height: 80vh; */
  overflow-x: scroll;
  /* outline: solid 2px #dadada; */
  justify-self: flex-start;
}

.learn-map-container svg {
  height: 100%;
  width: 100%;
  /* max-height: 800px; */
}

.learn-page-infos {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 500px;
  margin-left: 0%;
  display: inline-block;
  justify-content: space-around;
}

.learn-contents {
  min-width: auto;
  min-height: 300px;
}

.learn-contents-title {
  width: 80%;
  border-bottom: 4px solid black;
}

.learn-contents-title h3 {
  color: #000;
  font-size: 32px;
  text-align: center;
}

.learn-contents-countries {
  display: flex;
  flex-wrap: wrap;
}

.learn-contents-country {
  margin: 7px 5px;
}

.learn-contents-countries p {
  color: #2b4293;
  position: relative;
  font-size: 1.4em;
  /* outline: solid 2px #dadada; */
  justify-self: flex-start;
}

.learn-map-container svg {
  height: 100%;
  width: 100%;
  /* max-height: 800px; */
}

.learn-page-infos {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 500px;
  margin-left: 0%;
  display: inline-block;
  justify-content: space-around;
}

.learn-contents {
  min-width: auto;
  min-height: 300px;
}

.learn-contents-title {
  width: 80%;
  border-bottom: 4px solid black;
}

.learn-contents-title h3 {
  color: #000;
  font-size: 32px;
  text-align: center;
}

.learn-contents-countries {
  display: flex;
  flex-wrap: wrap;
}

.learn-contents-country {
  margin: 7px 5px;
}

.learn-contents-countries p {
  color: #2b4293;
  position: relative;
  font-size: 1.2em;
  z-index: 1;
}

.learn-contents-highlight {
  width: 100%;
  height: 10px;
  position: relative;
  top: 34px;
  background: #c2c9e1;
  border-radius: 6px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.learn-contents-countries p:hover {
  cursor: pointer;
  color: #6583d0;
  /* background-color: #C2C9E1; */
}

#mapContainer::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  background-color: #f5f5f5;
}

#mapContainer::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
}

#mapContainer::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.country {
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.3s;
  transition-delay: 70ms;
}

.country > path {
  stroke: white;
  stroke-width: 2px;
}

.country:hover > path {
  stroke-width: 3px;
}

.country-searched > path {
  stroke-width: 0px !important;
  opacity: 0.5;
}

.country:hover {
  /* stroke: black; */
  stroke-width: 2px;
  cursor: pointer;
  /* filter: url(#dropshadow); */
  transform: translate(0px, -2px);
  /* transform: scale(1.02); */
}

.selected .label {
  display: block;
}

.selected {
  /* stroke: black;
  stroke-width: 2px; */
  transform: none !important;
  opacity: 1 !important;
}

.selected > path {
  opacity: 1;
}

.label {
  display: none;
  stroke: none;
}

.country:hover .label {
  display: block;
}

/* .learn-page-container {
  display: block;
  width: auto;
  height: 80%;
} */

#learning-info-container {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: absolute;
  /* background-color: rgba(92, 91, 91, 0.459); */
}

#learning-info-name {
  display: flex;
  flex-direction: row;
}

#learning-info-name h2 {
  font-size: 48px;
  color: black;
  margin-right: 25px;
}

#learning-info-name img {
  width: 80px;
  height: 40px;
  box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
  align-self: center;
}

#learning-infos {
  min-width: 370px;
  color: black;
  font-size: 26px;
  padding: 10px;
}

.learn-scroll {
  width: auto;
  border-radius: 22px;
  padding: 6px;
  background-color: #3964a4;
  color: white;
  font-size: 30px;
  position: absolute;
  bottom: 8%;
  right: 2%;
  transition: top 0.3s;
}

.learn-scroll:hover {
  background-color: #447acc;
}

.learn-scroll:focus {
  outline: none;
}

.learn-page-info {
  margin-top: 50px;
  width: 100%;
  height: 300px;
  background-color: rgb(205, 205, 255);
}

.learn-page-key {
  width: 360px;
  height: 300px;
  position: absolute;
  right: 10px;
  top: 75vh;
  padding-top: 10px;
}

.learn-page-key-hints {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #878787;
  font-size: 24px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 3px solid rgba(97, 97, 97, 0.25);
}

.learn-page-key-hints p {
  margin: 0;
  margin-left: 10px;
}

.learn-page-test-info {
  background: rgba(255, 130, 60, 0.2);
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  font-size: 25px;
  border-radius: 10px;
}

.learn-page-test-info-topics {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.learn-page-test-info-topics p {
  background: rgba(255, 130, 60, 0.2);
  width: 100px;
  border-radius: 5px;
  height: auto;
  text-align: center;
  margin: 10px;
}

/*
  learn-info
*/

.learn-page-selected {
  width: auto;
  min-width: 80%;
  height: 400px;
  padding: 15px;
  padding-top: 25px;
  margin-left: 120px;
  background: #8f2626;
  border-radius: 15px;
  color: white;
  box-shadow: -6px 9px 4px rgba(0, 0, 0, 0.5);

  display: inline-flex;
  flex-direction: column;
}

.learn-selected-country {
  width: 100%;
  height: auto;
  background-color: rgba(244, 170, 128, 0.2);
  display: flex;
  flex-direction: row;
  padding: 0 15px;
}

.learn-selected-country p {
  font-size: 48px;
  justify-self: flex-start;
  white-space: nowrap;
  margin: 0;
}

.learn-selected-country img {
  width: auto;
  height: 50px;
  margin-top: 10px;
  border-radius: 5px;
  margin-left: 20px;
}

.learn-selected-capital {
  margin-top: 7px;
  width: auto;
  height: auto;
  display: inline-block;
  padding: 0px 15px;
  background-color: rgba(244, 170, 128, 0.2);
}

.learn-selected-capital p {
  font-size: 1.8em;
  display: inline-block;
  margin: 0;
}

/*
  Quiz side
*/

.learn-quiz-modes-container {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 4px;
}

.learnQuizModesButton {
  display: inline-block;
  border-radius: 0 0 120px 120px;
  color: white;
  text-align: center;
  margin-left: 60px;
  font-size: 24px;
}

.learnQuizModesButton:hover {
  cursor: pointer;
}

#LQ-title {
  color: #7b7a7a;
  display: block;
  text-align: center;
  position: relative;
  pointer-events: none;
  top: -40px;
}

.LQ-arrow {
  border: 4px solid #7b7a7a;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 4px;
  margin-bottom: 4px;

  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.LQ-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  justify-content: space-evenly;
  align-items: space-between;
  padding: 5px;
}

.LQ-buttons-btn {
  display: inline-block;
  margin: 10px;
  border-radius: 80px;
  height: 45px;
  width: auto;
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 24px;
  min-width: 200px;
}

.LQ-buttons-btn:hover {
  cursor: grab;
}

.LQ-gamearea {
  width: 100%;
  height: 80vh;
  position: relative;
  display: flex;
  flex-direction: row;
}

.LQ-gamearea svg {
  width: 100%;
}

.LQ-gamearea svg path:hover {
  opacity: 0.5;
}

.learn-quiz-page {
  width: 100%;
  height: 100%;
  min-height: 800px;
  margin: 0;
  display: grid;
  /* display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: center; */
  font-family: "Baloo Chettan", cursive;
  background: #fbf8f8;
  margin: 0px auto;
  box-shadow: inset 0px 0px 0px 4px #d2d2d2;
  box-sizing: border-box;
}

.learn-quiz-title-container {
  max-width: 500px;
  margin: 20px;
}

#learn-quiz-title {
  font-size: 48px;
  text-align: center;
  background-color: rgb(130, 130, 255);
  color: white;
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
}

.learn-quiz-contents {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #eeeded;
  border-radius: 22px;
  padding: 30px;
  justify-self: center;
  font-size: 36px;
  color: black;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

.learn-quiz-contents-places {
  display: flex;
  flex-wrap: wrap;
  color: black;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.09em;
  justify-content: center;
}

.learn-quiz-contents-places p {
  margin: 0.4em;
}

.learn-quiz-types {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  font-size: 20px;
  color: white;
}

.learn-quiz-map-container {
  height: 100%;
  width: auto;
  overflow: hidden;
  overflow-x: scroll;
  position: relative;
  margin: 0 auto;
}

#learn-map-quiz {
  display: block;
  height: 100%;
  -webkit-user-select: none;
  padding: 30px;
  margin: auto 0;
}

#learn-map-quiz svg {
  height: 100%;
  max-height: 900px;
}

.country-Q,
#learn-map-quiz {
  /* filter: url(#dropshadow); */
  transition: 0.3s;
  transition-delay: 70ms;
}

.country-Q:hover {
  cursor: pointer;
  filter: none;
  transform: translate(0px, -2px);
}

.country-Q:active {
  transform: translate(2px, 2px);
  transition: 0s;
}

.complete {
  cursor: default !important;
  filter: none;
  transform: translate(0px, 0px) !important;
}

.learn-quiz-modal {
  display: block;
  z-index: 1;
  background-color: rgba(41, 39, 39, 0.815);
  position: absolute;
  width: 100%;
  height: 100%;
}

.learn-quiz-modal-btn-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  width: 300px;
  color: white;
  padding: 0 50px;
  border: 1px solid rgba(163, 162, 162, 0.178);
}

.learn-quiz-modal-btn {
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(78, 78, 255);
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
  align-self: flex-start;
}

.learn-quiz-modal-btn:hover {
  background-color: rgb(55, 55, 252);
}

.learn-quiz-modal-btn:active {
  background-color: rgb(28, 28, 250);
  outline: none;
}

.learn-quiz-finish-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  width: 300px;
  color: white;
  padding: 0 50px;
}

@media (max-width: 1000px) {
  .learn-map-container {
    margin-top: 100px;
    width: 100%;
  }
  .learn-scroll {
    position: absolute;
    bottom: 0%;
  }
  #learning-infos {
    /* display: none; */
  }
  .learn-quiz-page {
    grid-template-columns: none;
    grid-template-rows: 1fr 3fr;
    grid-gap: 50px;
  }

  .learn-quiz-title-container {
    max-width: 100%;
    padding: 5px;
    margin: 0;
  }

  .learn-quiz-title-container h2 {
    font-size: 25px;
  }

  .learn-quiz-title-container p {
    font-size: 15px;
  }

  .learn-quiz-contents {
    padding: 5px;
  }

  .learn-quiz-contents-places {
    display: hidden;
    margin: 0;
  }

  .learn-scroll {
    display: none;
  }
}
