html,
body {
  /* overflow-x: hidden; */
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.home-welcome-page {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #285979;
  width: 100%;
  height: 100%;
  font-family: "Baloo Chettan", cursive;
  min-height: 1000px;
}

.top-wave {
  position: absolute;
  top: -300px;
  width: 100%;
  min-width: 700px;
  height: 700px;
}

.home-content-container {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 70%;
  align-items: center;
  justify-content: space-evenly;
}

#home-header-logo {
  font-size: 42px;
  align-self: center;
  background-color: rgba(15, 155, 45, 0.301);
  border-radius: 20px;
  width: auto;
  height: 50px;
  line-height: 45px;
  padding: 0 15px;
  margin-left: 10px;
}

#home-header-navs {
  display: flex;
  align-self: center;
  width: 35%;
  margin-left: 15%;
  font-size: 30px;
  flex-direction: row;
  justify-content: space-evenly;
}

.wave {
  width: 100%;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
  pointer-events: none;
}

.home-header {
  background: rgba(255, 255, 255, 0.09);
  width: 80%;
  height: 7%;
  margin-left: 10%;
  position: absolute;
  top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 33px;
  color: white;
  border-radius: 32px;
}

.home-mainBtns {
  width: 280px;
  height: 380px;
  background: rgba(119, 161, 201, 0.19);
  border-radius: 30px;
  padding: 20px;
  z-index: 1;
}

.home-btns-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 24px;
}

.home-btns-panel p {
  justify-self: flex-start;
  margin-bottom: 40px;
}

.home-btns-panel button {
  margin-top: 20px;
}

.home-btn {
}

#home-learnBtn {
  background: #98e575;
  font-size: 50px;

  box-shadow: 0px 4px 1px #88cc69;
  border-radius: 24px;
}

#home-learnBtn:hover {
  background: #93f566;
}

#home-learnBtn:active {
  background: #98e575;
}

#home-quizBtn {
  background: #74c5e6;
  font-size: 50px;
  box-shadow: 0px 4px 1px #64acc9;
  border-radius: 24px;
}

#home-quizBtn:hover {
  background: #5bcbf7;
}

#home-quizBtn:active {
  background: #3290e2;
}

.selectable {
  color: white;
  width: 200px;
  height: 60px;
  text-align: center;
  line-height: 10px;
  background: #173b5b;
  box-shadow: 12px 12px 4px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  outline: none;
  border: none;
  white-space: nowrap;
}

/* .selectable:hover {
  background-color: #2170b6;
}

.selectable:active {
  outline: none;
  border: none;
  background-color: #c25618;
} */

.selectable:focus {
  outline: none;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  text-align: start;
  padding-left: 50px;
  background-color: #173b5b;
}

.dropdown-content a {
  float: none;
  color: white;
  text-decoration: none;
  display: block;
}

.home-title {
  width: 100%;
  text-align: center;
}

.home-title h1 {
  color: rgb(51, 53, 51);
  font-size: calc(50px + 12vw);
}

#home-stars {
  position: absolute;
  top: 50px;
  width: 100%;
  max-height: 90vh;
}

#home-img {
  width: 100%;
  display: block;
  /* min-width: 700px; */
  max-width: 800px;
}

#home-tag {
  width: 100%;
  color: white;
  font-size: 36px;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 15%;
}

#home-tag h2 {
  width: 390px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 22px;
}

#rocket-img {
  position: absolute;
}

#moon-img {
  position: absolute;
  left: 10%;
  bottom: 10%;
  z-index: 0;
}

/* #home-img {
  width: 100%;
  max-height: calc(60% + 10vh);
  margin: 0 auto;
} */

#title-q {
  color: #4f7947;
}

.select-continent {
  width: 95%;
  margin: 0 auto;
  position: relative;
  bottom: 30px;
}

.select-continent-title {
  text-align: center;
  border-bottom: 5px solid black;
  width: 30%;
  margin: 5% auto;
}

#back-btn {
  position: absolute;
  top: -14%;
  left: 2%;
}

#modalTitle {
  text-align: center;
  border-bottom: 2px solid white;
}

#select-continent-title {
  color: black;
  font-size: 35px;
  margin-bottom: 20px;
}

.selectBtn {
  outline: none;
  border: none;
  background-color: cyan;
  width: 100%;
  height: 100px;
  font-size: calc(15px + 2vw);
  color: whitesmoke;
}

.selectBtn:hover {
  cursor: pointer;
  opacity: 0.5;
}

.selectBtn:focus {
  outline: none;
}

.disabled {
  opacity: 0.4 !important;
}

.disabled:hover {
  cursor: default;
}

footer {
  padding-top: 10px;
  width: 100%;
  height: 2.5rem;
  text-align: center;
  color: white;
  background-color: #07223b;
}
