.progress-base {
  min-width: 350px;
  background: rgba(0, 0, 0, 0.08);
}

.progress-overlay {
    background: #5DBCFB;
}

.progress-base, .progress-overlay {
    height: 15px;
    border-radius: 22px;
}