#Map {
  fill: #76a835c9;
}
#None:hover {
  -webkit-user-select: none;
  cursor: default;
  opacity: 1;
}

#London,
#Andorra-la-Vella,
#Berlin,
#Oslo,
#Tallinn,
#Bern,
#Vienna,
#Zagreb,
#Prishtina,
#Valletta,
#Bucharest,
#Minsk,
#Nicosia,
#Baku,
#Dublin,
#Amsterdam,
#Madrid,
#Helsinki,
#Warsaw,
#Luxembourg,
#Ljubljana,
#Belgrade,
#Tirana,
#Rome,
#Moscow,
#Tbilisi,
#Monte-Carlo,
#Paris,
#Lisbon,
#Copenhagen,
#Riga,
#Prague,
#Budapest,
#Podgorica,
#Sofia,
#San-Marino,
#Athens,
#Chisinau,
#Brussels,
#Reykjavík,
#Stockholm,
#Vilnius,
#Vaduz,
#Bratislava,
#Sarajevo,
#Skopje,
#Kyiv,
#Ankara {
  fill: #0c0c0c;
}
