#Brazil,
#Chile,
/* CAPITALS */
#Brasília,
#Santiago {
  fill: #17583e;
}

#Ecuador,
#Quito {
  fill: #8daa5c;
}

#Colombia,
#Suriname,
#Paraguay,
/* CAPITALS */
#Bogotá,
#Paramaribo,
#Asunción {
  fill: #f5e158;
}

#Venezuela,
#Bolivia,
#Uruguay,
/* CAPITALS */
#Caracas,
#Sucre,
#Montevideo {
  fill: #c6d83c;
}

#Peru,
#Argentina,
#Guyana,
/* CAPITAL */
#Lima,
#Buenos-Aires,
#Georgetown {
  fill: #4b96c0;
}

#Map {
  fill: grey;
}
