#Brazil,
#Chile {
  fill: #17583e;
}

#Ecuador,
#French-Guiana {
  fill: #8daa5c;
}

#Colombia,
#Suriname,
#Paraguay {
  fill: #f5e158;
}

#Venezuela,
#Bolivia,
#Uruguay {
  fill: #c6d83c;
}

#Peru,
#Argentina,
#Guyana {
  fill: #4b96c0;
}
