.barInfo {
  width: 80%;
  height: auto;
  border-top: 4px solid #ffffff;
  margin: 20px auto;
  color: white;
  min-height: 200px;
  /* display: grid;
  grid-template-columns: 2fr 2fr 3fr;
  grid-template-rows: auto; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.barInfo-result {
  color: #a6efff;
}

.barInfo-one,
.barInfo-two,
.barInfo-three {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  padding-right: 20px;
  border-right: 5px solid #ffffff;
  margin: 20px;
}

.barInfo-one {
  flex: 1;
}

.barInfo-two {
  font-size: 25px;
  margin-bottom: 20px;
  white-space: nowrap;
  flex: 1;
}

.barInfo-three {
  flex-direction: row;
  flex-wrap: wrap;
  white-space: nowrap;
  align-content: flex-start;
  font-size: 23px;
  border: none;
  flex: 1 1;
}

.barInfo-three p {
  margin: 5px;
  color: #a6efff;
}

.barInfo-three p:hover {
  cursor: pointer;
  color: #f8faff;
  background-color: #3c738171;
}

.barInfo img {
  width: auto;
  height: 50px;
  margin-left: 30px;
  margin-top: 5px;
}

#barInfo-one-flex1 {
  font-size: 45px;
  white-space: nowrap;
}

#barInfo-one-flex1,
#barInfo-one-flex2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 50px;
}

@media (max-width: 640px) {
  .barInfo-one,
  .barInfo-two,
  .barInfo-three {
    border-right: none;
    border-bottom: 4px solid #cdc3c3;
  }
}
