.game {
  height: calc(100vh - 45px);
  top: 45px;
  position: relative;
}

.game-layout {
  width: auto;
  height: 100%;
  background: rgba(194, 226, 255, 0.54);
}

.game-map-container {
  width: auto;
  height: 100%;
  overflow-x: scroll;
  position: relative;
  padding-bottom: 10px;
  margin: 0 auto;
}

.game-map-container svg {
  width: 100%;
  min-width: 1000px;
  height: 100%;
}

.zoomIn {
  animation-duration: 2s;
  fill: rgb(241, 83, 83) !important;
}

.game-map {
  display: block;
  height: 50%;
  margin: 0 auto;
}
.quiz-country {
  /* stroke: #deefff;
  stroke-width: 2.8px; */
}

.quiz-country:not(.complete):hover {
  opacity: 0.5;
  outline: 0;
  cursor: pointer;
  /* stroke: rgb(255, 0, 0);
  stroke-width: 2px; */
}

/* .showPoints {
  animation: pointsScore 1.2s;
  font-size: 60px;
  position: relative !important;
} */

@keyframes pointsScore {
  0% {
    color: rgb(87, 185, 83);
  }

  50% {
    color: rgba(86, 185, 83, 0.493);
  }

  100% {
    color: rgba(86, 185, 83, 0);
  }
}

.wrongSelect {
  position: absolute;
  animation: shake 0.2s;
  -webkit-animation: shake 0.2s;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
    -webkit-transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
    -webkit-transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
    -webkit-transform: translate(1px, -1px) rotate(1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
    transform: translate(-1px, -1px) rotate(1deg);
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
    -webkit-transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
  }
}

@-webkit-keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
    -webkit-transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
    -webkit-transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
    -webkit-transform: translate(1px, -1px) rotate(1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
    transform: translate(-1px, -1px) rotate(1deg);
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
    -webkit-transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
  }
}

.complete {
  opacity: 0.4 !important;
  fill: gray;
}

.complete:hover {
  cursor: default;
}

.game-boxed p {
  color: rgb(102, 102, 102);
  font-size: 25px;
}

.game-score {
  background-color: #fff;
  border: 0px solid #000;
  text-align: center;
  height: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.game-extras {
  width: auto;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 2%;
  left: 25%;
}

.game-extra-col-1 {
  display: flex;
  flex-direction: column;
}

.fadeOutUp {
  animation-duration: 1s;
  animation-delay: 0s;
}

.game-button {
  border: none;
  border-radius: 40px;
  margin: 0 0px;
  border-radius: 30px;
  font-size: 30px !important;
  color: white !important;
  height: auto;
  min-width: 120px;
  box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.game-button:focus {
  outline: none;
}

#game-showMeButton {
  padding: 0 20px;
}

#game-skipButton:hover {
  background-color: rgb(82, 133, 44) !important;
}

#game-showMeButton:hover {
  background-color: rgb(43, 76, 126) !important;
}

#game-timers {
  position: absolute;
  bottom: 10%;
}

@keyframes points {
  from {
    color: rgb(87, 185, 83);
  }
  to {
    color: rgba(199, 120, 55, 0);
  }
}

.game-testthing {
  position: absolute;
  pointer-events: none;
  top: 0px;
  left: 0px;
}

.game-info-guess {
  position: absolute;
  bottom: 2%;
  right: 3%;
  width: 200px;
  text-align: end;
  font-size: 40px;
  color: #ffa3a3;
}

.game-extra-data {
  width: 100%;
  height: 500px;
  background-color: #77bcfc;
  display: flex;
  justify-content: center;
}

.extra-data-container {
  display: flex;
  flex-direction: row;
  height: 200px;
  color: white;
}

.extra-data-container img {
  height: 60%;
  width: 60%;
  margin: auto 0;
  margin-right: 30px;
}

.extra-data-info {
  min-width: 250px;
}

.extra-data-info h2 {
  text-align: center;
}

@media (max-width: 650px) {
  .game-extras,
  .game-missCounter-container {
    display: none;
  }

  .svg-map {
    margin-top: 20%;
  }

  #game-place {
    font-size: 30px;
    padding-top: 8px;
  }

  .finish-info-col {
    width: 100%;
  }

  .game-button {
    line-height: 30px;
  }
}
