#Syria,
#Saudi-Arabia,
#Uzbekistan,
#Pakistan,
#Bhutan,
#Georgia-as,
#Sri-Lanka,
#Philippines,
#Laos,
#Japan,
/* CAPITALS */
#Tokyo,
#Vientiane,
#Sri-JayawardenepuraKotte,
#Tbilisi,
#Thimphu,
#Islamabad,
#Tashkent,
#Riyadh,
#Damascus,
#Manila,
#Singapore-Capital {
  fill: #4281a4;
}

#India,
#Kyrgyzstan,
#Malaysia,
#Mongolia,
#Azerbaijan-as,
#United-Arab-Emirates,
/* CAPITALS */
#New-Delhi,
#Bishkek,
#Kuala-Lumpur,
#Ulaanbaatar,
#Baku,
#Abu-Dhabi,
#Dili {
  fill: #48a9a6;
}

#Turkey-as,
#China,
#Bangladesh,
#Thailand,
#Oman,
#Jordan,
#Iran,
/* CAPITALS */
#Ankara,
#Beijing,
#Dhaka,
#Bangkok,
#Muscat,
#Amman,
#Baghdad,
#Bandar-Seri-Begawan {
  fill: #e2b88e;
}

#Iraq,
#Turkmenistan,
#Tajikistan,
#Myanmar,
#Armenia,
#Vietnam,
#Russia-as,
#South-Korea,
#Taiwan,
/* Capitals */
#Tehran,
#Ashgabat,
#Naypyidaw,
#Yerevan,
#Hanoi,
#Moscow,
#Seoul,
#Taipei {
  fill: #c07b43;
}

#Kazakhstan,
#Yemen,
#Afghanistan,
#Kazakhstan,
#Nepal,
#Cambodia,
#Indonesia,
#North-Korea,
/* CAPITALS */
#Nur-Sultan,
#Sana-a,
#Kabul,
#Kathmandu,
#Phnom-Penh,
#Jakarta,
#Pyongyang {
  fill: #c1666b;
}

#Lebanon1,
#Qatar1,
#Israel1,
#Bahrain1,
#Brunei1,
#Singapore1,
#Maldives1,
#Kuwait1,
#Timor-Leste1 {
  fill: rgb(48, 131, 199);
}

#Kuwait,
#Bahrain,
#Qatar,
#Lebanon,
#Israel,
#Singapore,
#Brunei,
#Timor-Leste,
#Maldives {
  stroke: rgba(214, 72, 72, 0.788);
  stroke-width: 1px;
  fill: rgba(204, 50, 11, 0.363);
}
